body { 
	padding-top: 70px;
	background-image: url(../img/wavegrid.png); 
}


.right-border {
	border-right: 1px solid #e3e3e3;
}

#slider {
	z-index: -1;
}

#sidebar {
    width: 180px;  
    position: fixed;
    top: 100px;
    z-index: 10;
    display: none;
    background-color: #F0F0F0;
    overflow-y: scroll;
    height: 100%;
}

.panel-default a {
    text-decoration: none;
    color: #000;
}
#sidebar .panel-heading {
    background-color: #c051c7;
    color: #fff;
}

#breadcrumb {
    margin-top: -20px; 
    z-index: 10;
}

#breadcrumb ol {
    margin-left: 3px;
    -webkit-box-shadow: 0px 0px 3px 1px #612265;
    -moz-box-shadow: 0px 0px 3px 1px #612265;
    box-shadow: 0px 0px 3px 1px #612265;
}

#main_content {
    margin-top: 40px;
    z-index: -1;
}

.fixed_top {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

@media (min-width: 768px) {
  .fixed_top {
    border-radius: 0;
  }


/* Flash Message 
================== */
.message{
	margin-top: -20px;
     -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
     background-size: 40px 40px;
     background-image: -webkit-gradient(linear, left top, right bottom,
                color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                         to(transparent));
     background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
     background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
     background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                          transparent 75%, transparent);
     background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                           transparent 75%, transparent);
     background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
     -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     width: 100%;
     border: 1px solid;
     color: #fff;
     padding: 5px;
     position: fixed;
     _position: absolute;
     text-shadow: 0 1px 0 rgba(0,0,0,.5);
     -webkit-animation: animate-bg 5s linear infinite;
     -moz-animation: animate-bg 5s linear infinite;
}
.info{
     background-color: #4ea5cd;
     border-color: #3b8eb5;
}

.error{
     background-color: #de4343;
     border-color: #c43d3d;
}

.warning{
     background-color: #eaaf51;
     border-color: #d99a36;
}

.success{
     background-color: #61b832;
     border-color: #55a12c;
}

.message {
     text-align: center;
}

.show_msg {
    z-index: 100;
}





@-webkit-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
/* End Flash Message 
================== */

#staff_list_body {
    margin-top: 5px;
}




/* Start Product */



/*******************For Employee*******************/
.errors{
    color: red;
    font-style: italic;
}

.must-fill{
    color: red;
}

ul li {
    list-style: none;
}
 

